@media (max-width: 1440px) {
  .logo {
    img {
      width: 100px;
    }
  }

  .header__title {
    font-size: 130px;
    line-height: 108px;
    top: 20px;
    left: 60px;
  }

  .menu {
    padding-top: 10px;
  }
  .header__search {
    padding-bottom: 8px;
  }

  .header__date {
    font-size: 60px;
    span {
      font-size: 14px;
      padding-top: 0;
      margin-bottom: 5px;
    }
  }

  .header__arrows {
    left: 130px;
  }

  .surf-box__inner {
    min-height: 650px;
  }

  .shop__slider-content {
    padding-left: 20px;
  }

  .shop__slider-price {
    margin-bottom: 30px;
  }

  .descr__head-shop {
    margin-bottom: 93px;
  }
  .descr__head {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .header__aside {
    position: absolute;
    border-right: none;
    height: 108px;
    padding-right: 25px;
    background-color: rgba(#fff, 0.1);
    text-align: left;
    display: flex;
  }
  .menu {
    padding-top: 0;
  }

  .menu__list {
    text-align: center;
    li {
      display: inline-block;
    }
    a {
      padding: 15px;
    }
  }
  .header__search {
    padding-bottom: 8px;
    padding: 33px 15px 15px;
  }
  .header__date {
    padding: 15px;
  }

  .header__location {
    margin-top: 42px;
  }
  .slider-item__info-title {
    font-size: 65px;
  }

  .header__arrows {
    left: 20px;
    bottom: 20px;
  }

  .holder {
    padding: 0;
  }
}
@media (max-width: 1340px) {
  .header__map {
    svg {
      width: 500px;
      height: 250px;
    }
  }
  .slider-arrows {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 4;
  }
  .slider-arrows__left {
    right: 60px;
  }

  .surf-box {
    min-width: 304px;
  }
}

@media (max-width: 1250px) {
  .slider-map {
    max-width: 1000px;
    max-height: 515px;
    display: none;
  }
  // .slick-list {
  // min-height: 515px;
  // padding-bottom: 200px;
  // }

  .slider-dots--1 {
    top: 238px;
    left: -53px;
    .slider-dots__content {
      transform: translateX(15%);
      &::before {
        left: 1px;
      }
    }
  }
  .slider-dots--2 {
    top: 222px;
    left: -67px;
    .slider-dots__content {
      transform: translateX(-5%);
      &::before {
        left: 58px;
      }
    }
  }
  .slider-dots--3 {
    top: 274px;
    left: -9px;
  }
  .slider-dots--4 {
    top: 374px;
    left: -72px;
  }
  .slider-dots--5 {
    top: 169px;
    left: -107px;
  }
  .slider-dots--6 {
    top: 437px;
    left: -146px;
  }
  .slider-dots--7 {
    top: 304px;
    left: -91px;
  }
  .slider-dots--8 {
    top: 382px;
    left: 21px;
  }

  .surf {
    padding-top: 50px;
  }
  // .surf-slider {
  //   margin-top: 100px;
  // }

  .surf__subtitle {
    padding: 20px 80px;
  }
  .holder {
    background-size: 200px;
  }
}

@media (max-width: 1180px) {
  .shop__slider-inner {
    display: block;
  }

  .shop__slider-info {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  .shop__slider {
    padding-left: 20px;
  }

  .surfboard-position--1 .surfboard-box__content {
    padding-left: 54px;
    left: 40px;
  }
  .surfboard-position--1 .surfboard-box__content::before {
    width: 40px;
  }

  .surfboard-position--2 .surfboard-box__content {
    left: 60px;
    top: -13px;
  }

  .surfboard-position--2 .surfboard-box__content::before {
    width: 40px;
    right: auto;
    left: -32px;
  }

  .surfboard-position--3 .surfboard-box__content {
    left: 60px;
  }

  .surfboard-position--3 .surfboard-box__content::before {
    width: 40px;
    right: auto;
    left: -32px;
  }
}
@media (max-width: 1150px) {
  .holder-slider__descr {
    padding: 160px 0 0 20px;
  }
}
@media (max-width: 1040px) {
  .header__arrows {
    display: none;
  }

  .menu {
    background-color: rgba($green, 0.2);
    z-index: 22;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translate(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    transition: all 0.9s;
    &.active {
      transform: translate(0);
    }
  }
  .menu-btn {
    display: flex;
  }
  .aside {
    transform: translateY(0);
    transition: all 0.9s;
    &.active {
      transform: translateY(-160%);
    }
  }
  .header__search {
    padding: 40px 15px 15px;
  }

  .slider-item__info {
    position: absolute;
    right: 20px;
    bottom: 10px;
    text-align: right;
  }
  .slider-item__info-text {
    font-size: 30px;
    line-height: 20px;
    margin-bottom: 15px;
  }

  .headline-left {
    font-size: 16px;
    line-height: 18px;
    padding-left: 65px;
  }

  .slider-item__info-suptext {
    margin-bottom: 5px;
  }

  .headline-left::before {
    width: 50px;
  }
  .slider-item__info-title {
    font-size: 55px;
    line-height: 55px;
    margin-bottom: 20px;
  }

  .slider-dotshead {
    right: 0;
    left: 10px;
    margin: 0 auto;
    bottom: 5px;
  }

  .dots-box {
    width: 125px;
    margin-bottom: 10px;
  }
  .dots-box__number {
    font-size: 18px;
    .dots-box__name {
      line-height: 18px;
    }
  }

  // .slider-map {
  //   background-image: none;
  //   max-width: 100%;
  //   max-height: 280px;
  // }

  // .slider-dots__circle {
  //   display: none;
  // }
  // .slider-dots__content {
  //   display: block;
  //   &::before {
  //     display: none;
  //   }
  // }

  // .slider-dots {
  //   position: static;
  // }

  // .slider-map {
  //   .slick-list {
  //     overflow: hidden;
  //     min-height: 280px;
  //   }
  // }
  // .slick-track {
  //   min-height: 280px;
  // }

  // .slider-dots__content,
  // .slider-dots--8 .slider-dots__content {
  //   transform: translateX(0);
  // }
  // .slider-dots__content {
  //   width: 285px;
  //   padding: 28px 31px 0 32px;
  // }

  // .slider-map .slick-current .slider-dots__content {
  //   background: rgba(#ccc, 0.7);
  // }

  .holder-slider__info {
    display: block;
  }
  .holder-slider__info-subtitle {
    position: static;
    transform: rotate(0deg);
    height: auto;
    width: auto;
    text-align: left;
  }
  .holder-slider__info-item {
    min-height: auto;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  .holder-slider__info-title {
    padding-left: 0;
  }

  .holder-slider__descr {
    background-position: right -119px;
  }
  .holder {
    .title {
      span {
        padding-bottom: 0;
      }
    }
  }

  .holder-slider__info-title {
    .holder-pricing__span {
      text-align: left;
      left: 0;
    }
  }

  .quantity-button.quantity-up {
    right: auto;
    left: 25px;
  }

  .quantity-button.quantity-down {
    right: auto;
  }

  .sleep .holder-slider__descr {
    background-position: right 10px;
  }
  .holder-slider__descr .descr__head .holder_star-list {
    position: static;
  }

  .holder-slider__descr .descr__head.descr__head-sleep {
    padding-right: 0;
  }
}
@media (max-width: 960px) {
  .slider-dotshead {
    display: none;
  }

  .title {
    span {
      font-size: 130px;
      left: 60px;
      transform: translateX(0px);
      display: inline-block;
    }
    h3 {
      font-size: 65px;
    }
  }
  .subtitle__head {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .surf {
    padding-top: 5px;
  }
  .surf__subtitle {
    padding: 0 20px;
    .subtitle {
      display: inline-block;
      text-align: right;
      margin-top: 42px;
    }
  }
  .subtitle__head {
    font-size: 30px;
  }

  .slick-slide .slick-current {
    position: absolute;
    display: block;

    // .surf-box {
    //   &__inner {
    //     max-width: 420px;
    //   }
    // }
  }
  .surfboard-position--1 .surfboard-box__content {
    top: 35px;
    left: -184px;
  }
  .surfboard-position--2 .surfboard-box__content {
    top: 35px;
    left: -30px;
  }
  .surfboard-position--3 .surfboard-box__content {
    top: 35px;
    left: -30px;
  }
  .surfboard-box__content {
    font-size: 15px;
    line-height: 18px;
    &::before {
      display: none;
    }
  }
  .shop__extras {
    padding-left: 75px;
  }
}
@media (max-width: 680px) {
  // .surf-box {
  //   &__inner {
  //     &:hover {
  //       background: none;
  //     }
  //   }
  // }

  .surf-box__wrapper {
    background-size: auto;
    margin: 0 30px;
  }

  .holder-slider__subtitle {
    padding: 100px 20px 0 0;
  }

  .holder.sleep {
    background-position: right 1200px;
    background-size: 120px;
  }
  .shop__slider-content {
    display: block;
  }

  .shop__extras {
    padding-left: 0;
    padding-top: 35px;
  }

  .surfboard-position--1 {
    left: 167px;
    // right: 432px;
  }
  .footer {
    padding: 54px 0 34px;
  }
}

@media (max-width: 625px) {
  .holder-slider__descr {
    background-image: none !important;
  }

  .title {
    span {
      font-size: 100px;
      left: 1px;
    }
    h3 {
      font-size: s45px;
    }
  }
  .subtitle__head {
    font-size: 25px;
  }

  .headline-left {
    font-size: 13px;
  }

  .surf__subtitle {
    .subtitle {
      margin-top: 123px;
    }
  }
}
@media (max-width: 560px) {
  .header__map {
    display: none;
  }

  .surf-box__inner-location {
    letter-spacing: 4px;
    bottom: 188px;
  }

  //////////////////////////////////////////////////////////
}

@media (max-width: 460px) {
  .header__aside {
    height: 0;
    display: block;
    text-align: center;
    padding-right: 0;
  }
  .header__search {
    padding: 15px 0 0;
  }
  .header__date {
    padding: 0;
    font-size: 50px;
    line-height: 45px;
    span {
      font-size: 12px;
    }
  }
  .header__location {
    margin-top: 0;
  }
  .descr__head {
    font-size: 32px;
  }

  .holder-slider__info-title {
    font-size: 30px;
    line-height: 30px;
  }

  .holder-slider__info-subtitle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5px;
  }

  .holder-slider__info-title {
    .holder-pricing__span {
      letter-spacing: 5.25px;
      font-size: 12px;
      bottom: -14px;
    }
  }
  .surf-box__inner {
    min-height: 550px;
  }
  .surf-box__inner-title {
    font-size: 35px;
    line-height: 36px;
    width: 140px;
    padding: 30px 0 0 25px;
  }
  .surf-box__inner-location {
    letter-spacing: 3px;
    bottom: 189px;
    left: 23px;
  }

  .menu {
    top: 230px;
    padding-top: 0;
    padding-right: -100px;
    right: 0;
    bottom: 0;
    left: 0;
    // .menu__list {
    //   padding-top: 45px;
    //   background-color: rgba($green, 0.3);
    // }
    li {
      margin: -8px;
    }
  }
  // .header__aside {
  //   &.active {
  //     height: 0px;
  //   }
  // }
  .aside {
    transform: translateY(0);
    transition: all 0.9s;
    &.active {
      transform: translate(-110%);
    }
  }

  .btn span {
    display: flex;
  }

  .holder-slider__descr .descr__head .holder__star-list {
    position: static;
    margin-left: -15px;
  }

  .shop__slider-content {
    padding-left: 0;
  }

  .surfboard-position--2 {
    left: 4px;
  }
}
@media (max-width: 380px) {
  .slider-item__info-title {
    font-size: 44px;
  }

  .slider-item__info-text {
    font-size: 25px;
  }

  .header__title {
    font-size: 110px;
    left: 40px;
  }
}

@media (max-width: 374px) {
  .title {
    span {
      font-size: 60px;
      left: 30px;
    }
    h3 {
      font-size: 45px;
    }
  }

  .surf__subtitle {
    padding: 0 10px;
  }
  .subtitle__head {
    font-size: 20px;
  }

  .headline-left {
    font-size: 12px;
    line-height: 10px;
    padding-left: 65px;
    letter-spacing: 6.33333px;
  }
  .shop__extras-box {
    text-align: center;
    margin-right: 30px;
  }
}
